.top-rated-page{
    margin: 1rem;
}

.top-rated-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top-rated-h1{
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 29px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}