.searchContainer{
    margin: 0 1rem;
}
#search{
    width: calc(100% - 1rem);
    height: 1.25rem;
    border-radius: 10px;
    background-color: #2B2B2B;
    margin: 1rem 0;
    padding: .5rem;
}
#search input{
    background-color: #2B2B2B;
    color: #fff;
    width: 100%;
}
#search input:focus{
    outline: none;
}